body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#container{
    position: absolute;
    top: 50px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 20px;
    background-color: rgba(200, 210, 244, 0.692);
}

.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(164, 212, 130);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}